---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/** Wrapper */
.wrapper { max-width: -webkit-calc(1200px - (30px * 2)); max-width: calc(1200px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
@media screen and (max-width: 1200px) { .wrapper { max-width: -webkit-calc(1200px - (30px)); max-width: calc(1200px - (30px)); padding-right: 15px; padding-left: 15px; } }

.site-tagline {
  @include relative-font-size(1.25);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited,
  &:hover {
    color: $grey-color-dark;
    text-decoration: none;
  }
}

.site-title {
  &,
  &:visited,
  &:hover  {
    color: $grey-color-dark;
    text-decoration: none;
  }
}
